@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950;
  
} 

@layer utilities {
    .fill-forwards {
        animation-fill-mode: forwards;
    }
}

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


*/